// Font Colors
$base-font-family:'Arial';
$base-font-color:#000000;
$base-font-size:15px;
$base-font-weight:normal;
$base-line-height:1.5;
$base-background-color:#fff;

//Font weight
$ultrathin:100;
$light:200;
$thin:300;
$regular:400;
$medium:500;
$semibold:600;
$bold:700;
$heavy:800;
$black:900;

//Responsive
$screen-xs:767px;
$screen-sm:768px;
$screen-md:992px;
$screen-lg:1200px;

//grid
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);








